{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/pico.min.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Default Title{% endblock %}</title>
    <!-- You can add other head elements like stylesheets, favicon, etc. here -->
</head>
<body>
    <header>
        <!-- You can add site-wide header elements like navigation here -->
        <nav class="top-nav">
            <ul class="nav-list">
              <li><a href="{% url 'home' %}" class="secondary">Home</a></li>
            </ul>
            <ul class="nav-list">
              <li><strong>Covid Data Manager</strong></li>
            </ul>
          </nav>
          
    </header>
    
    <main>
        {% block content %}
        <!-- This block will be replaced by content from child templates -->
        {% endblock %}
    </main>

    <footer>
        <!-- You can add a site-wide footer here -->
        
    </footer>

    <!-- You can add site-wide scripts here -->
</body>
</html>
