<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Default Title{% endblock %}</title>
    <!-- You can add other head elements like stylesheets, favicon, etc. here -->
</head>
<body>
    <header>
        <!-- You can add site-wide header elements like navigation here -->
        <nav>
            <a href="{% url 'index' %}">Home</a>
            <!-- other navigation links -->
        </nav>
    </header>
    
    <main>
        {% block content %}
        <!-- This block will be replaced by content from child templates -->
        {% endblock %}
    </main>

    <footer>
        <!-- You can add a site-wide footer here -->
        <p>Copyright &copy; 2023 by Covid Tracker</p>
    </footer>

    <!-- You can add site-wide scripts here -->
</body>
</html>
