<!-- covid_tracker_app/templates/covid_tracker_app/index.html -->
{% extends "covid_tracker_app/base.html" %}
{% load static %}
{% block content %}
  <!-- Display Flash Messages -->
  {% if messages %}
    <div id="messages">
      {% for message in messages %}
        <div{% if message.tags %} class="flash {{ message.tags }}"{% endif %}>
          {{ message }}
        </div>
      {% endfor %}
    </div>
  {% endif %}

  <h1>Get Started</h1>
  <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
  <!-- Main Menu -->
  <div class="menu">
    <a role="button" href="{% url 'add_entry' %}">Add a new data entry</a><br>
    <a role="button" href="{% url 'get_entry_page' %}">Get a data entry for a specific country</a><br>
    <a role="button" href="{% url 'remove_entry_page' %}">Remove a data entry</a><br>
    <a role="button" href="{% url 'country_summary' %}">Display all entries</a><br>
  </div>

  <!-- JavaScript to remove flash messages -->
  <script>
    setTimeout(function() {
      const el = document.getElementById('messages');
      if (el) {
        el.style.display = 'none';
      }
    }, 3000); // 3000 milliseconds = 3 seconds
  </script>

{% endblock %}
