{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/pico.min.css' %}">

<link rel="stylesheet" type="text/css" href="{% static 'css/remove_entry.css' %}">

<div class="remove-center-container">
    <h2>Remove a Data Entry</h2>
    <form action="{% url 'remove_entry' %}" method="post">
        {% csrf_token %}
        <input type="search" name="country_name" placeholder="Country" id="country_name" required>
        <input type="submit" value="Remove">
    </form>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <a href="{% url 'index' %}">Go back to main menu</a>
</div>

{% endblock %}
